{{ partial "header.html" . }}


共计 {{ len (where .Site.RegularPages "Section" "posts") }} 篇文章
<div id="total-word-count">
  总字数: {{ $totalWords }}
</div>

<div id="all-tags">
  {{- range $name, $taxonomy := .Site.Taxonomies.tags -}}
  <a href="/tags/{{ $name | urlize }}">#{{ $name }}<small>({{ .Count }})</small></a>&nbsp;&nbsp;&nbsp;
  {{- end -}}
</div>

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

{{- if .Site.Params.ShowAllPagesInArchive }}
{{- $pages = site.RegularPages }}
{{- end }}

{{- $totalWords := 0 -}}

{{- range $pages.GroupByPublishDate "2006" }}
{{- if ne .Key "0001" }}
<div class="archive-year">
  <h3 class="archive-year-header">
    {{- replace .Key "0001" "" }}年<sup class="archive-count">&nbsp;&nbsp;{{ len .Pages }}</sup>
  </h3>
  {{- range .Pages.GroupByDate "January" }}
  <div class="archive-month">
    <h3 class="archive-month-header">
      {{- if eq .Key "December" }}
      {{ "Dec." }}
      {{- end }}
      {{- if eq .Key "November" }}
      {{ "Nov." }}
      {{- end }}
      {{- if eq .Key "October" }}
      {{ "Oct." }}
      {{- end }}
      {{- if eq .Key "September" }}
      {{ "Sept." }}
      {{- end }}
      {{- if eq .Key "August" }}
      {{ "Aug." }}
      {{- end }}
      {{- if eq .Key "July" }}
      {{ "Jul." }}
      {{- end }}
      {{- if eq .Key "June" }}
      {{ "Jun." }}
      {{- end }}
      {{- if eq .Key "May" }}
      {{ "May." }}
      {{- end }}
      {{- if eq .Key "April" }}
      {{ "Apr." }}
      {{- end }}
      {{- if eq .Key "March" }}
      {{ "Mar." }}
      {{- end }}
      {{- if eq .Key "February" }}
      {{ "Feb." }}
      {{- end }}
      {{- if eq .Key "January" }}
      {{ "Jan." }}
      {{- end }}
      <!-- {{- .Key }} -->
      <sup class="archive-count">&nbsp;&nbsp;{{ len .Pages }}
      </sup>
    </h3>
    <div class="archive-posts">
      {{- range .Pages }}
      {{- if eq .Kind "page" }}
      <div class="archive-entry">
        <li class="archive-entry-title">
          <span class="post-date">{{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}</span>&nbsp;&nbsp;&nbsp;<a href="{{.Permalink}}">{{.Title}}</a>
          {{- $wordCount := len .Content | split " " | len -}}
          {{- $totalWords = add $totalWords $wordCount -}}
          <span class="post-word-count">字数: {{ $wordCount }}</span>
        </li>        
      </div>
      {{- end }}
      {{- end }}
    </div>
  </div>
  {{- end }}
</div>
{{- end }}
{{- end }}

{{ partial "footer-cus.html" . }}