{{ partial "header.html" . }}

<div id="memos"></div>
<div id="memo-list"></div>

<script src="/memos/cdn/twikoo.min.js"></script>
<script src="/memos/cdn/ArtalkLite.js"></script>
<script src="/memos/cdn/marked.min.js"></script>
<script src="/memos/cdn/APlayer.min.js"></script>
<script src="/memos/cdn/Meting.min.js"></script>
<script src="/memos/cdn/lozad.min.js"></script>
<script>
var meting_api='https://api.injahow.cn/meting/?server=:server&type=:type&id=:id&auth=:auth&r=:r';
</script>
<script src="/memos/memos.js"></script>

<link rel="stylesheet" href="/memos/cdn/APlayer.min.css">
<link rel="stylesheet" href="/memos/cdn/animate.min.css">
<link href="/memos/cdn/ArtalkLite.css" rel="stylesheet">
<link rel="stylesheet" href="/memos/grid.css">
<link rel="stylesheet" href="https://memobbs.app/memos.css">
