{{ partial "header.html" . }}

{{ .Content }}

{{ if .IsHome }}
{{ $.Scratch.Set "pages" first 10 .Site.RegularPages }}
{{ else }}
{{ $.Scratch.Set "pages" .Pages }}
{{ end }}
<div class="archive-posts taxonomy-posts">
  {{ range (where ($.Scratch.Get "pages") "Section" "!=" "") }}
  <div class="archive-entry">
    <li class="archive-entry-title">
      <span class="post-date">{{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}</span>&nbsp;&nbsp;&nbsp;
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
  </div>
  {{ end }}
</div>

{{ partial "footer-cus.html" . }}


