.post blockquote, .newsletter blockquote, .home blockquote {
    font-family: inherit;
  }
  blockquote {
    font-family: inherit;
  }
  code {
    font-family: Consolas, Courier, "Courier New", 'STKaiti', 'KaiTi', 'SimKai', monospace;
  }
  pre, code {
    font-size: .95em;
  }
