<div id="momos-ss"></div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
      var bbUrl = "https://i.hux.ink:5233/api/memo?creatorId=1&rowStatus=NORMAL&limit=6"
      fetch(bbUrl).then(res => res.json()).then( resdata =>{
          var result = '',resultAll="",data = resdata.data
          for(var i=0;i < data.length;i++){
              var bbTime = new Date(data[i].createdTs * 1000).toLocaleDateString()
              var bbCont = data[i].content
              var newbbCont = bbCont.replace(/!\[.*?\]\((.*?)\)/g,' <a href="$1" target="_blank">🌅</a> ').replace(/\[(.*?)\]\((.*?)\)/g,' <a href="$2" target="_blank">$1 🔗</a> ')
              var emoji = '✨'; // 修改这里，设置你想要的emoji
              result += `<li class="item"> <span class="datetime">${bbTime}</span>  ${emoji}${newbbCont}</li>`;
          }
          var bbDom = document.querySelector('#momos-ss');
          var bbBefore = `<div class="momos-sswrap"><ul class="momos-sslist">`
          var bbAfter = `</ul></div>`
          resultAll = bbBefore + result + bbAfter
          bbDom.innerHTML = resultAll;
          //相对时间
          window.Lately && Lately.init({ target: '.datetime' });
      });
    });
</script>