<div id="latest-posts">
  <style>
    #latest-posts {
      margin: 20px 0;
    }

    .post-grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .post-item {
      box-sizing: border-box;
      padding: 10px;
    }

    .post-date {
      margin-right: 5px; /* 调整日期和点号之间的间距 */
    }

    .bullet {
      color: rgb(255, 0, 0); /* 修改为蓝色 */
      font-weight: bold; /* 调整点号的样式 */
    }

    @media screen and (max-width: 683px) {
      .post-grid {
        grid-template-columns: minmax(0, 1fr);
      }

      .post-item {
        padding: 8px 10px;
      }

      .post-item:nth-child(n + 4) {
        display: none;
      }
    }
  </style>

  <div class="post-grid">
    {{ $latestPosts := where .Site.RegularPages "Section" "posts" | first 6 }}
    {{ range $post := $latestPosts }}
      <div class="post-item">
        <span class="bullet">•</span> <!-- 添加点号 -->
        <span class="post-date">{{ $post.Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}</span>
        <a href="{{ $post.Permalink }}">{{ $post.Title }}</a>
      </div>
    {{ end }}
  </div>
</div>
